<!DOCTYPE html>
<html>
<head>
	<title>QuoteBoard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	{% load static %}
      <link rel="stylesheet" href="{% static 'quoteapp/style.css' %}" media="screen" title="no title"  charset="utf-8">  
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/">QUOTES</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link" href="/quotes">QuoteBoard</a>
	      <a class="nav-item nav-link disabled" href="/logout">Logout</a>
	    </div>
	  </div>
		<p style="font-weight: bold;"> You are logged in as {{users.name}}</p>
	</nav>

	<br>
	<h2>Posts by {{users.name}}</h2>
	<h4>Number of Quotes Contributed: {{count}} </h4>
	
	<div class="myquotes">
		{% for quote in allquotes %}
		      <div class="quotebox">
			    <p class="author">{{quote.quoteby}}</p>
			    <p class="quotation">{{quote.quotation}}</p>
			  </div>
	    {% endfor %}
	</div>


</body>
</html>